apiVersion: v2
name: {{ project_name if project_name is defined else 'perfectrag' }}
description: perfectRAG custom-naive-rag stack (Qdrant + Ollama + FastAPI + open-webui)
type: application
version: 0.1.0
appVersion: "1.0"
